.request-info {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  .request-text-area {
    width: 100%;
    overflow-y: auto;
    .text-area {
      height: calc(100vh - 630px);
    }
  }
  
  .submit-button {
    top: calc(100% - 60px);
    left: calc(100% - 80px);
    width: 80px;
    position: sticky;
  }
}
