<div class="response-info">
  <h3>Response</h3>
  <mat-tab-group class="response-text-area">
    <mat-tab label='API response'>
      <div *ngIf="response !== null">
        <ngx-json-viewer [json]="response" class="response-text-area"></ngx-json-viewer>
      </div>
    </mat-tab>
    <mat-tab label='Received messages (MP)'>
      <div #divMessages class="text-area" matInput disabled></div>
      <button mat-raised-button color="primary" class="submit-button" (click)="clear()">Clear</button>
    </mat-tab>
  </mat-tab-group>  
</div>
